#Desarrollo .Content{
    background-image: url('/desarrollo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
  }

  #Desarrollo {
    height: 100vh;
  }
  
  .DesarrolloContent {
    min-width: 500px;
    width: 59%;
    height: 10vh;
    margin-top: 58%;
    margin-left: 11%;
    opacity: 0.9;
    border-radius: 15px;
    color: #ffff;
  }

  .DesarrolloContent .SoporteContent {
    width: 68%;
  }

  @media screen and (max-width: 989px){
    .DesarrolloContent {
      margin-top: 15%;
    }
  }