#Desarrollo .Content{
    background-image: url('/desarrollo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    scroll-snap-align: start;
  }

  #Desarrollo {
    height: 100vh;
  }
  
  .DesarrolloContent {
    min-width: 500px;
    width: 59%;
    height: 10vh;
    margin-top: 58%;
    margin-left: 11%;
    opacity: 0.9;
    border-radius: 15px;
    color: #ffff;
  }

  @media only screen and (max-width: 1024px) and (max-height: 600px) {
    #Desarrollo {
      height: 125.5vh;
      width: 214vh;
    }
  }