html,
body {
  padding: 0;
  margin: 0;
  background-color: #0000;
  font-family: Montserrat, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  scroll-snap-type: y mandatory;
}

a {
  color: inherit;
  text-decoration: none;
}

#header:if([data-scroll='0']){
  position: absolute;
}

#header:not([data-scroll='0']){
  position: fixed;
  width: 100%;
  z-index: 1000;
  max-height: 96px;
  margin-top: -96px;
}

nav {
  background-color : rgba(255, 255, 255);
  max-height: 96px;
}

#logo {
  max-width : 96px; 
  margin-top : 15px; 
  max-height : 80px;
}

#navbarNav{
  margin-top: 20px;
}


.backgroundBlocked {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  scroll-snap-align: start;
}

#Nosotros{
  margin-top: 69px;
  position:relative;
}

.Content {
  margin-top: 69px;
  margin: 25px;
  display: block;
  position: relative;
   display: grid;
   place-items: center;
   height: 100vh;
   width: 100vw;
   margin: 0 auto;
   background: #ccc;
}

#NostrosTextBackground{
  margin-top: 100px;
  top:0;
  left:0;
  width: 80vh;
  height: 80vh;
  background-color: #000000;
  opacity: 0.9;
  padding: 20px 10px 20px 30px;
  display: block;
  z-index: 1;
  margin: 25;
}

#NostrosTextBackground h1 {
  margin: 0;
  padding: 0;
  line-height: 60px;
  color: #FFFF;
  opacity: 1;
  font-size: 45px;
  font-weight: 200;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#Soporte{
  background-image: url('/back2.jpeg');
}

#Desarrollo{
  background-image: url('/back3.jpeg');
}

#Servicios{
  background-image: url('/back5.jpeg');
}

#Staff{
  background-image: url('/back4.jpeg');
}

* {
  box-sizing: border-box;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vh;
  height: 110vh;
  object-fit: cover;
  scroll-snap-align: start;

}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255) }
}