.logo {
	position: relative;
    margin-top: 44%;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	background: url(https://www.novatech.com.uy/imagenes/logo.png) no-repeat 100% 50%;
	background-color: #ffff;
	background-size: 100%;
	border-radius: 2.25rem;
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);

}

.logo:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
    background-position: 50% 50%;
	border-radius: 50%;

}