#Nosotros{
  margin-top: 69px;
  position:relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
  background-attachment:fixed;
}

.NosotrosParrafo {
  width: 100%;
  display: flex;
  padding: 3vh;
  background-color: #ffff;
  color: #000;
  font-size: calc(5px + 2.5vh);
  font-family: PTSansNarrow;
  position: absolute;
  line-height: calc(5px + 3.5vh);
  bottom: 0;

}

#NostrosTextBackground{
  display: flex;
  font-size: calc(5px + 3.5vh);
  line-height:calc(5px + 4vh);
  color:#ffff;
  
  background-color: #00002B;
  opacity: 0.8;
  bottom: 70%;
  position: absolute;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.5);


  z-index: 1;
  font-family: PTSansNarrow;
}