.ServicioContent {
    min-width: 500px;
    width: 59%;
    margin-top: 80%;
    margin-left: 6%;
    font-size: 60px;
    background-color: #000000;
    opacity: 0.9;
    border-radius: 15px;
    color: #ffff;
  }

  #Servicios{
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
  }

  @media only screen and (min-width: 1024px) and (min-height: 600px) {
    #Servicios{
      height: 125.5vh;
      width: 214vh;
    }
  }

  @media only screen and (min-width: 1280px) and (min-height: 800px) {
    #Servicios{
      height: 134vh;
      width: 214vh;
    }
  }