
#Staff .Content{
    background-image: url(/staff.jpeg);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: 100%;
      background-position: center;
  }

  #Staff{
    height: 100vh;
  }

  @media only screen and (max-width: 1024px) and (max-height: 600px) {
    #Staff{
      height: 125.5vh;
      width: 214vh;
    }
  }